body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("./images/gradientbackground.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  body{
    background-image: none;
  }
  html {
    background-size:cover;
    background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.85), 
      rgba(255, 255, 255, 0.85)
    ),
    url("./images/gradientbackground.png");
  }
}
